.content {
  box-sizing: border-box;
  width: 1200px;
  margin: 15px auto;
  background-color: #fff;
  padding: 15px;
}

.post_form .type_select label {
  font-size: 14px;
  margin-right: 10px;
}

.post_form .type_select select {
  width: 320px;
}

.post_form .titl_input {
  box-sizing: border-box;
  font-size: 36px;
  border: 1px solid #c8d8db;
  border-bottom: none;
  width: 100%;
  margin-top: 15px;
  padding: 5px 15px;
}

.btn_box {
  text-align: center;
  margin-top: 15px;
}
.btn_box button {
  width: 120px;
}

.normal_btn {
  margin-right: 15px;
}
